<div class="login-form">
  <%= form_for :user do |f| %>
    <%= f.email_field :email, placeholder: 'email', required: true %>
    <%= f.password_field :password, placeholder: 'password', required: true %>
    <%= f.submit "Login" %>
  <% end %>
</div>
