<section class="recommend-new">
  <article class="instruction-box">
    <p>
      Enter the name of the doctor you would like to recommend!
    </p>
  </article>
  <%= form_for :doctor, url: doctors_path, method: :get, html: {class: "search-form"} do |f| %>
  <%= f.text_field :first_name, placeholder: "First Name" %>
  <%= f.text_field :last_name, placeholder: "Last Name" %>
  <%= f.submit "Search", html: {class: "search-submit"}%>

  <% end %>

</section>
