<main class="about-page">
  <div class="header">
    <%= image_tag( '2013_Rally_for_Transgender_Equality_21171_(8603716639).jpg', alt: "Rally for Transgender Equality, Washington, DC, 2013. Image thanks to Wikimedia Commons", id: "rally-image") %>
    <h2>Mission Statement</h2>
  </div>

  <div class="about-content">
    <p>
      Our mission is to improve access to quality healthcare for members of the LGBTQ+ (lesbian, gay, bisexual, transgender, queer) community. We want everyone to be able to find a doctor who they feel safe with, who respects their identity, and who is knowledgeable about their medical concerns.
    </p>
    <p>
      People who identify as LGBTQ face greater barriers to accessing healthcare than their heterosexual and cisgender counterparts. These barriers include discrimination, lack of knowledge, and lack of respect for identities, partners, and privacy, on the part of doctors, hospitals, and insurance companies. Many LGBTQ people avoid going to the doctor because they have had uncomfortable, unsafe, awkward, and hurtful experiences with doctors in the past.
    </p>
    <p>
      However, we believe that many doctors do provide safe, welcoming experiences to all their patients. We want it to be easier for patients to find those doctors. We want those doctors to be involved in this process. This website makes it possible for people to read reviews of those doctors from the perspective of others who have concerns similar to their own. It also makes it possible for doctors to participate in the conversation. Healthcare can be a scary space to navigate for everyone. It shouldn't be scarier because of your identity.
    </p>

  </div>
</main>
