<section id="home-page">
  <main class="home-page-container">
    <div class="image-container">
      <div class="image-text">
        <h1>Access to inclusive doctors in your hands </h1>
      </div>
    </div>
    <div>
    <div class= "btn-container">
      <%= button_to 'Find a Doctor', {}, {class: 'big-btn'} %>
      <%= button_to 'Recommend a Doctor', {}, {class: 'big-btn'} %>
    </div>
    </div>
    </div>
  </main>
</section>
