<section id="resources-page">
  <main class="content-container">
    <div class="header">
      <div>
        <h1>Resources</h1>
      </div>
    </div>
    <div class="link-content">
        <ul class="resources-list">
          <li><a href="#">Resource-1</a></li>
          <li><a href="#">Resource-2</a></li>
          <li><a href="#">Resource-3</a></li>
          <li><a href="#">Resource-4</a></li>
          <li><a href="#">Resource-5</a></li>
          <li><a href="#">Resource-6</a></li>
          <li><a href="#">Resource-7</a></li>
          <li><a href="#">Resource-8</a></li>
        </ul>
    </div>
</main>
</section>
