<h3>Users returned</h3>
<ul>
  <% @users.each do |user| %>
  <li>
    <%= user.username %> admin:<%= user.admin %>
    <%= link_to "Change Admin Status", user_path(user), :method=> :put %>
  </li>
  <% end %>
</ul>
