<section id="check_user_doctor">
  <h2>Step 1</h2>
  <h4>Please Enter your NPI number for verification</h4>
  <div class="new-user-form">
     <%= form_tag  do %>
      <%= label_tag "NPI" %>
      <%= text_field_tag :npi %>
      <%= submit_tag "Verify" %>
    <% end %>
</div>
</section>
