<% if @show_new_doctor %>
  <div class="rec-search-result right">
    <h3>
      Don't see the doctor you're looking for?
    </h3>
      <%= link_to "Add a new doctor", new_doctor_path %>
  </div>
<% end %>
