
<!--
<main class="doctor-info-container">
  <div class="img-container">
    <h1>Image</h1>
  </div>
  <div class="info-container">
    <h1>Info</h1>
  </div>
</main> -->


<div class="doctor-info-container">
  <div class="one">
    <div class="w3-container">
      <div class="w3-card-4 w3-dark-grey" style="width:50%">
         <div class="w3-container w3-center">
            <img src="img_avatar3.png" alt="Avatar" style="width:80%">
            <h3> <%= @doctor.first_name %> <%= @doctor.last_name %>  </h3>
            <% unless @specialty.blank? %>
              <p><%= @specialty %></p>
            <% end %>
            <div class="">
            </div>
          </div>
       </div>
    </div>
  </div>
  <div class="two">

    <%  @doctor.attributes.each do |attr_name, attr_value| %>
      <% unless attr_value.blank? || attr_name == 'id' || attr_name == 'specialty' || attr_name == 'created_at' || attr_name == 'updated_at' || attr_name == 'first_name'|| attr_name == 'last_name' %>
      <ul class="doc-info-list">
        <li> <%= attr_value %> </li>
      </ul>
      <% end %>
    <% end %>

  </div>
  <div class="three">
    <button class="">Add a Review</button>
  </div>
  </div>
