///////// VARIABLES /////////
$teal: #468499;
$white: #ffffff;

// BACKGROUNDS
$bg-grey: #e5e5e5;
$contrast-blue: #c7d7dd;

// BORDERS
$border-grey: #d3d3d3;

// TEXT
$text-grey: #999999;
$error-red: #ff0000;
$link-blue: #269ccc;

@mixin form-fields {
  padding: 15px;
}
@mixin submit {
  border-radius: 5px;
  background-color: #ffffff;
  letter-spacing: .09rem;
  box-shadow: none;
  padding: 5px 20px 5px;
  border: 1px solid #cccccc;
  color:#888888;
  &:hover{
  background-color: #c7d7dd;
  color: #ffffff;
  }
}

// helvetica, helvetica/arial/sans-serif
