@import "variables";

.about-page {
  border-radius: 5px;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  border: 1px solid $teal;
  padding: 15px;
  border-radius: 5px;
}

.about-content {
  width: 60%;
  padding: 10px;
  margin: auto;
  text-align: justify;
}

.about-content p {
  text-indent: 50px;
  line-height: 2em;
}


.header{
  text-align: center;
  padding: 5px;
  margin: 2px;
}

#rally-image {
  width: 100%;
  max-width: 1042px;
}
