/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*#468499
 Optimism Blue: #269ccc
 Blue Algae: #9ed2c5*/
body {
  width: 100%;
  margin: 0;
  font-family: Helvetica;
}

nav {
  padding: 3rem;
  width: 100%;
  background-color: #468499;
  margin: 0 auto;
}

.main-nav ul {
  letter-spacing: .25rem;
  color: #ffffff;
  display: grid;
  grid-template-columns: 20% auto 10% 10%;
  margin: 0;
  list-style: none;
  margin-right: 15px;
}

.image-text h1 {
  letter-spacing: .25rem;
  font-size: 3rem;
  position: relative;
  height: 250px;
  width: 300px;
  margin-left: 100px;
  position: relative;
  /*margin-top: 400px;*/
  padding-top: 150px;
  color: #ffffff;
}

#home-page {
  grid-template-columns: 2fr 3fr 3fr 2fr;
}

.image-container {
  position: relative;
  border-radius: 5px;
  grid-column-start: 2;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  height: 600px;
  background-image: url(  https://static.pexels.com/photos/5350/wave-ocean.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.title {
  font-weight: 600;
  font-size: 2rem;
  grid-column-start: 1;
}

#login {
  grid-column-start: 3;
}

#register {

}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.big-btn {
  color: #999999;
  background-color: transparent;
  font-size:20px;
  letter-spacing: .15rem;
  font-weight: bold;
  text-align: center;
  border: solid #cccccc 1px;
  border-radius: 5px;
  padding: 4rem 0;
  width: 285px;
  margin:2rem 2rem;
}

.big-btn:hover {
  color: #ffffff;
  background-color: #468499;

}
