/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_self
 *= require_tree .
 */

 /*#468499
 Optimism Blue: #269ccc
 Blue Algae: #9ed2c5*/
body {
  font-family: Helvetica;
  margin: 0;
  width: 100%;
}

nav {
  background-color: #468499;
  margin: 0 auto;
  padding: 3rem;
  width: 100%;
}

.main-nav ul {
  color: #ffffff;
  display: grid;
  grid-template-columns: minmax(auto, 500px) minmax(auto, 600px) repeat(2, minmax(150px,1fr)) ;
  letter-spacing: .25rem;
  list-style: none;
  margin: 0;
  margin-right: 15px;
}

.login {
  grid-column-start: 3;
}

.register {
  grid-column-start: 4;
  padding-right: 20px;
}

.main-nav {
  text-decoration: none;
}

.main-nav  a {
  text-decoration: none;
  color: #ffffff;
}

.main-nav  a:visited {
  color: #ffffff;
}
.main-nav  a:hover {
  color: #cccccc;
}


.title {
  font-size: 2rem;
  font-weight: 600;
  grid-column-start: 1;
}
