@import "global";
.new-doctor-form{
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
  padding: 15px;
  input{
    margin: 10px auto;
  }
  input[type=text] {
    @include form-fields;
    display: block;
    font-size: 1em;
  }
  input[type=submit]{
    display: block;
    font-size: 1em;
    @include submit;
  }
}

#dr-search-page {
    background-color: #f5f5f5;
    height: 100vw;
    width: 100%;
  h1 {
    color: #468499;
    margin: auto;
    padding-top: 20px;
    width: 300px;
  }
}

.container {
  width: 90%;
  margin: auto;
  height: 100vw;
  background-color: white;
}

.doctor-search-box {
  border-radius: 5px;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  height: 300px;
  padding: 15px;
  margin-top: 20px;
  input{
    margin: 10px auto;
  }
  input[type=text] {
    @include form-fields;
    display: block;
    font-size: 1em;
  }
}

.search-results-container {
  margin-top: 20px;
  border-top: 5px solid #269ccc;
  width: 100%;
  height: 70vw;
}

  table {
    padding-top: 20px;
    width: 80%;
    margin: auto;
    .table-heading {
      text-align: center;
      background-color: lightgrey;
      th {
        width: 25%;
        height: 20px;
      }
    }
  }

/*Doctor Show Page*/

.doctor-info-container {
  background-color: #cccccc;
  border-radius: 5px;
  margin: auto;
  width: 50%;
  display: grid;
  padding: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  h3 {
    margin-left: 20px;
  }
}

.one {
  grid-column: 1;
  grid-row: 1;
  background-color: white;
  height: 300px;
}

.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background-color: white;
}

.doc-info-list {
  list-style-type: none;
}
