@import "variables";

// NEW DOCTOR FORM
.new-doctor-form{
  background-color: $bg-grey;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  padding: 15px;
  input{
    margin: 10px auto;
  }
  input[type=text] {
    @include form-fields;
    display: block;
    font-size: 1em;
  }
  input[type=email] {
    @include form-fields;
    display: block;
    font-size: 1em;
  }
  input[type=submit]{
    display: block;
    font-size: 1em;
    @include submit;
  }
}

#dr-search-page {
    width: 100%;
  h1 {
    color: $teal;
    margin: auto;
    padding-top: 20px;
    width: 300px;
  }
}

.container {
  width: 90%;
  margin: auto;
  background-color: $white;
}

.doctor-search-box {
  border-radius: 5px;
  background-color: $bg-grey;
  width: 650px;
  margin: auto;
  height: relative;
  padding: 15px;
  margin-top: 20px;
  input{
    display: inline;
    margin-bottom: 10px;
    padding: 10px;
  }
  span {
    display: block;
    margin-bottom: 10px;
  }
  input[type=submit] {
    display: block;
    margin: auto;
    @include submit;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  select {
    display: block;
  }

}
  .search-results-container {
    margin-top: 20px;
    border-top: 5px solid $teal;
    width: 100%;
  }


  table {
    padding-top: 20px;
    width: 80%;
    margin: auto;
    .table-heading {
      text-align: center;
      background-color: $bg-grey;
      th {
        width: 5%;
        height: 20px;
      }
      .tags {
        width: 15%;
      }
      .insurance-tags {
        width: 15%;
        padding: 0px;
      }
    }
    tr:nth-child(2n){
      background-color: $contrast-blue;
    }
    .table-tags p {
      background-color: rgba(70,132,153,.25);
      width: 47%;
      display: inline-block;
      padding: 0;
      margin: 0;
      border: 1px solid $teal;
      border-radius: 5px;
      margin: 1px;
      text-align: center;
    }
    td {
      padding: 4px;
    }
    .table-tags{
      padding: 0px;
      margin: 0;
    }
  }
  .ins-text:nth-child(even) {
    font-weight: bolder;
  }
  .ins-text {
    margin: 0;
  }

  .button {
    background-color: $white;
    font-size: 18px;
    letter-spacing: .15rem;
    text-align: center;
    border-radius: 5px;
    width: 120px;
    margin:2rem 2rem;
  }

  .reset {
    width: 180px;
  }

  .button:hover {
    color: $white;
    background-color: $contrast-blue;
  }

/* Kaminari Pagination a tags */
//
#paginator {
  height: 15px;
  width: 80%;
  margin:auto;
}

.pagination {
  height: 30px;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 5px;
  padding-left: 15px;
}

.pagination a {
  color: $white;
  line-height: 20px;
}
.pagination a:hover {
  color: $border-grey;
}

.page.current {
  color: $border-grey;
}

/*Doctor Show Page*/

.doctor-info-container {
  box-sizing: border-box;
  width: 70%;
  margin: auto;
  border: 1px solid $teal;
  padding: 0px 15px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  h3 {
    margin-left: 20px;
    text-align: center;
  }
}

.doctor-main {
  flex-shrink: 30%;
  flex-grow: 100%;
  text-align: center;
  margin: 10px 10px 10px 0px;
  padding-right: 20px;
  border-right: 1px dotted $teal;
  .doctor-links {
    list-style-type: none;
    li {
      padding: 10px 0px;
    }
  }
}

.doctor-details {
  border-right: 1px dotted $teal;
  flex-basis: 50%;
  margin: 0px 10px;
}

.doctor-details-rec {
  flex-basis: 70%;
  margin: 0px 10px;
  border-bottom: 1px dotted $teal;
}

.doc-info-list {
  list-style-type: none;
}

.doctor-reviews {
  flex-basis: 95%;
  margin: auto;
  border-top: 1px dotted $teal;
}

.single-rec {
  width: 98%;
  padding: 10px;
  border-top: 1px dotted $teal;
}

.doctor-tags li {
  display: inline-block;
  list-style-type: none;
  border: 1px solid $teal;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.save-button {
  background-color: inherit;
  border: none;
  color: $link-blue;
  cursor: pointer;
}


.errors-cont {
  width: 400px;
  margin: auto;
  margin-top: 20px;
  border: 1px solid $error-red;
  color: $error-red;
  background-color: rgba(255, 0, 0, 0.3);
  text-align: center;
  border-radius: 10px;
}

.map {
  float: right;
  flex-basis: 20%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
}

#new-rec-section {
  padding-bottom: 20px;
}

.select2-dropdown.select2-dropdown--below{
    width: 350px !important;
}

.select2-selection__rendered {
  font-size: 16px;
}

.select2-container--default .select2-selection--single{
    padding:6px;
    height: 37px;
    width: 350px;
    font-size: 1.2em;
    position: relative;
}
.fa-chevron-down {
  color: white;
  margin-left: 3px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    background-color: $teal;
    color: white;
    font-size: 1.3em;
    padding: 4px 12px;
    height: 27px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 16px;
}

.city_state .select2-container--default .select2-selection--single{
  width: 150px;
}

.city_state .select2-dropdown.select2-dropdown--below{
    width: 150px !important;
}

.select2-selection--multiple {
  width: 350px;
  height: 75px;
}

.doctor-search-box input:focus {
		outline: none;
		box-shadow:0 0 4px $teal inset;
	}
