@import 'variables';

body {
 font-family: Arial;
 margin: 0;
 width: 100%;
}

nav {
 background-color: $teal;
 margin: 0 auto;
 padding: 3rem;
 box-sizing: border-box;
}

.main-nav ul {
 color: $white;
 display: grid;
 grid-template-columns: minmax(auto, 500px) minmax(auto, 600px) repeat(2, minmax(150px,1fr)) ;
 letter-spacing: .25rem;
 list-style: none;
 margin: 0;
 margin-right: 15px;
 width: 90%;
}

.login {
 grid-column-start: 3;
 line-height: 36px;
}

.register {
 grid-column-start: 4;
 line-height: 36px;
 padding-right: 20px;
}

.main-nav {
 text-decoration: none;
}

.main-nav  a {
 text-decoration: none;
 color: $white;
  &:visited {
   color: $white;
  }
  &:hover {
   color: #c7d7dd;
  }
}

.title {
 font-size: 2rem;
 font-weight: 600;
 grid-column-start: 1;
}

.flash-alert {
 width: 400px;
 margin: auto;
 margin-top: 20px;
 border: 1px solid $error-red;
 color: $error-red;
 background-color: rgba(255, 0, 0, 0.3);
 text-align: center;
 border-radius: 10px;
}
