@import 'variables';

body {
 font-family: Arial;
 // font-family: 'Muli', sans-serif;
 margin: 0;
 width: 100%;
 color: $body-black;
}

a {
  color: $link-blue;
  text-decoration: none;
}

nav {
 background-color: $teal;
 margin: 0 auto;
 padding: 1rem;
 box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}


.main-nav ul {
 color: $white;
 display: grid;
 grid-template-columns: minmax(auto, ) minmax(auto, ) repeat(8, minmax(100px,1fr));
 letter-spacing: .25rem;
 list-style: none;
 margin: 0;
 margin-left: 15px;
 width: 90%;
}


.about2 {
  grid-column-start: 1;
  line-height: 36px;
  grid-row: 2;
}

.resources {
  grid-column-start: 2;
  line-height: 36px;
  grid-row: 2;
  padding-right: 20px;
}
.find-doctor {
  grid-column-start: 3;
  line-height: 36px;
  grid-row: 2;
}

.add-rec {
  grid-column-start:4;
  line-height: 36px;
  grid-row: 2;
}

.title {
  // font-family: 'Oswald', sans-serif;
  grid-column-start: 5;
  letter-spacing: .1rem;
  font-size: 1rem;
  font-weight: 800;
}

.login {
  grid-column-start: 6;
  line-height: 36px;
  grid-row: 2;
}

.signup {
 grid-column-start: 7;
 line-height: 36px;
 padding-right: 20px;
 grid-row: 2;
}

.doctor-register{
  grid-column-start: 8;
  line-height: 36px;
  grid-row: 2;
}


.main-nav {
 text-decoration: none;
}

.main-nav  a {
 text-decoration: none;
 color: $white;
  &:visited {
   color: $white;
  }
  &:hover {
   color: $contrast-blue;
  }
}



.flash-alert {
 width: 400px;
 margin: auto;
 margin-top: 20px;
 border: 1px solid $error-red;
 color: $error-red;
 background-color: rgba(255, 0, 0, 0.3);
 text-align: center;
 border-radius: 10px;
}

.accreditation {
  font-size: .8em;
  position: relative;
  top: 10px;
}

.accreditation a:link {
  text-decoration: none;
}
