@import "variables";

// RECOMMENDATION ADD PAGE
.recommend-new {
  border: 1px solid $teal;
  border-radius: 5px;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  h2 {
    text-align: center;
  }
}

.instruction-box {
  width: 65%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid $teal;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2em;
}


.search-form {
  background:$bg-grey;
  border: 1px solid $border-grey;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 2px 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  width:40%;
  border-radius: 10px;
}

.search-form input {
  display: block;
  background: $white;
	margin-right: 5px;
  margin-bottom: 10px;
	padding: 15px;
}

.search-form select {
  display: inline;
  margin-bottom: 5px;
  margin-left: 5px;
}

  .search-form input::placeholder {
  line-height: 15px
	}

.search-form label {
  margin-left: 5px;
  font-size: 1em;
  line-height: 15px;
  color: $text-grey;
  font-style: italic;
  display: inline;
}

.search-submit {
  @include submit;
  margin: 10px;
}

.rec-doctor-button {
  @include submit;
  background-color: $teal;
  color: $white;
  display: block;
  margin: auto;
  &:hover {
    background-color: $teal;
    color: $white;
  }
}

// NEW RECOMMENDATION PAGE

.tag-list {
  width: 95%;
  display: block;
}

.tag-li {
  display: inline-block;
  list-style-type: none;
}

.tag-label {
  border: 1px solid $teal;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  display: inline-block;
}

.tag {
  display: none;
}

.tag:checked + .tag-label {
  background-color: $teal;
  color: $white;
}

#new-rec-section {
  width: 60%;
  margin: auto;
  margin-top: 20px;
}

#recommendation_review {
  width: 90%;
  margin: auto;
  height: 10vh;
  padding: 10px;
  display: block;
  font-size: 1em;
  &:focus {
    border: 1px solid $teal;
    outline: none;
    box-shadow: 0 0 10px $teal;
  }
}

#rec-submit-button {
  border: 1px solid $teal;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  margin-top: 20px;
  background-color: $white;
  float: right;
}

.add-tags-form {
  margin-left: 50px;
  float: left;
  margin-top: 20px;
  input[type=text] {
    padding: 10px;
    font-size: 1em;
    margin-right: 5px;
    &:focus {
      border: 1px solid $teal;
      outline: none;
      box-shadow: 0 0 10px $teal;
    }
  }
  .add-tag {
    border: 1px solid $teal;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: $white;
  }
}

.rec-errors {
  clear: both;
  text-align: center;
  margin: 120px;
}

.errors {
  color: $error-red;
}

.partials-doctors {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.rec-search-result {
  flex: 1;
  min-height: auto;
  margin: 10px;
  padding: 25px 50px;
  border: 1px solid $teal;
  border-radius: 5px;
  max-width: 300px;
}
