@import "variables";

.content-container{
  padding: 50px;
  margin: 50px;
  max-width: 60%;
  margin: auto;
  text-align: justify;
}

.link-container{
  display: block;
  position: relative;
  border-radius: 5px;
  margin: 50px;
  border: 1px solid $teal;
  padding: 15px;
  border-radius: 5px;
}

.resources-list li{
  padding: 20px;
  list-style-type: square;
  text-align: justify;
}

.header{
  text-align: center;
  padding: 5px;
  margin: 2px;
}
