<!DOCTYPE html>
<html>
  <head>
    <title>DocsForUs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="main-nav">
      <ul>
        <li class="title">Docs For Us</li>
        <li id="login">Login</li>
        <li id="register">Register</li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
